/* styles/NavigationBar.module.css */
.navbar {
    background-color:w;
    color: #fff;
    padding: 20px 20px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 20px;
    margin: 0px;
   margin-left: 50px;
    text-align: center;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 60px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
  }
  .navbar a {
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  @media (max-width: 768px) {
    .navbar ul li {
      display: block;
      margin: 10px 0;
    }
  }